# {{nom_pays}}

## Identifiant
{{country_id}} ({{english_name}})

## Continent
{{continent}}

## Niveau de risque global
{{niveau_risque_global}} / 5

## Baromètre des risques
{{barometre_risques}}

## Données clés
{{donnees_cles}}

## Situation sécuritaire
{{situation_securitaire}}

## Géopolitique
{{geopolitique}}

## Politique
{{politique}}

## Socio-économique
{{socio_economique}}

## Criminalité
{{criminalite}}

## Terrorisme
{{terrorisme}}

## Sanitaire & catastrophes
{{sanitaire_catastrophes}}

## Déplacements
{{deplacements}}

## Analyse par zones
{{analyse_par_zones}}

## Synthèse
{{synthese}}
